<div class="loader-container">
    <div class="loader-message" #loaderMessage>Click to Start!</div>
    <video #videoPlayer playsinline allow="autoplay" autoplay muted>
        <source src="https://cdn.fastly.steamstatic.com/steamcommunity/public/images/items/2861720/3d2d86bc3fc5928f4a6bfdd061c8107e6be1faa9.webm" type="video/webm">
        <source src="https://cdn.fastly.steamstatic.com/steamcommunity/public/images/items/2861720/beda041b3317da5950dda5aa4319f2dce1feee8f.mp4" type="video/mp4">
        <img src="https://cdn.fastly.steamstatic.com/steamcommunity/public/images/items/2861720/eca5871ca45838af8c953be846ab495d198dad19.png">
    </video>
</div>
