<div class="profile-stack-container" #stack>
  <div class="profile-stack-header-container ellipsis">
    <div class="profile-stack-header-title">My Stacks</div>
    <div class="profile-stack-header-filter-container" #filterRef>
      @for (filter of filters; track filter) {
        <div
          class="profile-stack-header-filter"
          (click)="changeStack(filter.shorthand)"
          [attr.data-state]="filter.state"
          [id]="filter.shorthand"
        >
          {{ filter.name }}
        </div>
      }
    </div>
  </div>
  <div class="profile-stack-icon-display">
    <!-- @for (stack of filteredStacks; track stack) {
      @for (language of stack.languages; track language) { -->
        <div
          class="profile-stack-icon-container"
          nz-tooltip
          [nzTooltipTitle]="languageTemplate"
          nzTooltipPlacement="topLeft"
        >
        optimize test
          <!-- <img
            nz-image
            [nzSrc]="language.link"
            width="75px"
            height="75px"
            [nzFallback]="fallback"
            [nzDisablePreview]="true"
            alt=""
            class="profile-stack-icon"
          /> -->
          <!-- <ng-template #languageTemplate>
            <span style="font-size: 15px; font-weight: bold; color: #66c0f4"
              >{{ language.name }},
            </span>
            <span style="font-size: 12px">{{ language.description }}</span>
          </ng-template> -->
          <ng-template #languageTemplate>
            <span style="font-size: 15px; font-weight: bold; color: #66c0f4"
              >test, 
            </span>
            <span style="font-size: 12px">test</span>
          </ng-template>
        </div>
      <!-- }
    } -->
  </div>
</div>
