<div class="profile-stack-container" #stack>
  <div class="profile-stack-header-container ellipsis">
    <div class="profile-stack-header-title">My Stacks</div>
  </div>
  <div class="profile-stack-icon-display">
    <div
      *ngFor="let stack of stacks"
      class="profile-stack-icon-container"
      nz-tooltip
      [nzTooltipTitle]="languageTemplate"
      nzTooltipPlacement="topLeft"
    >
      <img src="{{ stack.link }}" alt="" class="profile-stack-icon" />
      <ng-template #languageTemplate>
        <span style="font-size: 15px; font-weight: bold; color: #66c0f4"
          >{{ stack.name }},
        </span>
        <span style="font-size: 12px">{{ stack.description }}</span>
      </ng-template>
    </div>
  </div>
</div>
