<div class="profile-stack-container" #stack>
  <div class="profile-stack-header-container ellipsis">
    <div class="profile-stack-header-title">My Stacks</div>
    <div class="profile-stack-header-filter-container" #filterRef>
      <div class="profile-stack-header-filter" *ngFor="let filter of filters; trackBy: trackByFilter" (click)="changeStack(filter.shorthand)" [attr.data-state]="filter.state" [id]="filter.shorthand">
        {{ filter.name }}
      </div>
    </div>
  </div>
  <div class="profile-stack-icon-display">
    <div *ngFor="let stack of filteredStacks; let i = index; trackBy: trackByStack">
      <div *ngFor="let language of stack.languages; let j = index; trackBy: trackByLanguage">
        <div class="profile-stack-icon-container" [attr.data-language]="language.name" [attr.data-opacity]="language.opacity" [attr.data-tooltip-html]="language.name" nz-tooltip [nzTooltipTitle]="languageTemplate" nzTooltipPlacement="topLeft">
          <img [src]="language.link" alt="" class="profile-stack-icon" />
          <ng-template #languageTemplate>
            <span style="font-size: 15px; font-weight: bold; color: #66C0F4;">{{ language.name }}, </span>
            <span style="font-size: 12px;">{{ language.description }}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>