.profile-edu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 15px;

    .profile-edu-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: "Motiva Sans", Sans-serif;
        font-weight: 200;
        background: linear-gradient(90deg, var(--gradient-showcase-header-left) 0%, var(--color-showcase-header) 90%);
        padding: 5px 10px 5px 10px;
        color: #ffffff;
        font-size: 20px;
        line-height: 30px;
        border-radius: 3px 3px 0px 0px;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        .profile-edu-header-title {
            font-weight: 500;
            margin-right: 40px;
        }

        .profile-edu-header-mobile-nav {
            display: none;
            gap: 7px;

            .edu-mobile-nav {
                font-size: 16px;
                padding: 7px;
                height: 15px;
                width: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                border: 2px solid white;
                cursor: pointer;
            }
        }
    }

    .profile-edu-content-display {
        display: flex;
        padding: 7px 0px 0px 0px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: flex-start;
        align-items: center;
        border-radius: 0px 0px 3px 3px;
        max-height: 280px;
        overflow: hidden;

        .edu-timeline-content {
            border-left: 1px solid #f4f5f7;
            position: relative;
            padding: 20px;
            margin-left: 90px;

            .edu-date {
                position: absolute;
                left: -9rem;
                width: 7.5rem;
                text-align: right;
                color: #e5e5e5;
                text-shadow: 1px 2px 2px black;
            }

            .edu-card {
                padding: 20px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 4px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                min-height: calc(235px - 40px);
                text-shadow: 1px 2px 3px black;

                .edu-card-title {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 24px;
                    margin-bottom: 7px;
                    font-weight: bolder;
                    color: #66C0F4;
                    text-shadow: 1px 2px 3px black;
                }

                .edu-card-subtitle {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 7px;
                    margin-bottom: 14px;
                    align-items: baseline;

                    .edu-card-university {
                        font-size: 16px;
                        position: relative;
                        transition: 0.3s ease-in-out;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            height: 3px;
                            margin-top: 7px;
                            background: #66C0F4;
                            width: 0;
                            transition: width 0.3s ease-in-out;
                        }

                        @media (not (prefers-reduced-motion: reduce)) {
                            &:hover {
                                color: #66C0F4;

                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .edu-card-date {
                        margin: 0;
                        font-size: 12px;
                        font-style: italic;
                    }
                }

                .edu-card-text {
                    color: white;
                    line-height: 1.4;
                    text-align: justify;
                }

                .edu-achievement-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    gap: 7px;
                    margin-top: 14px;

                    .edu-achievement-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        padding: 10px;
                        border: 1.5px solid #FCC201;
                        border-radius: 7px;
                        color: #FCC201;
                        text-shadow: 1px 2px 2px black;
                        box-shadow: 1px 1px 1px black;

                        .edu-achievement-icon {
                            font-size: 16px;
                            margin-right: 2px;
                            filter: drop-shadow(1px 1px 1px black);
                        }

                        .edu-achievement-desc {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .profile-edu-header-mobile-nav {
        display: flex !important;
    }
}

@media screen and (max-width: 768px) {
    .edu-timeline-content {
        padding: 10px 20px !important;
        margin-left: 40px !important;
        user-select: none;
    }

    .edu-date {
        position: static !important;
        text-align: left !important;
    }
}