<!-- <div role="banner" class="header">
    <div class="header-content">
        <div class="header-logo">
            <span id="header-logo-holder">
                <img src="../../../assets/header-logo.svg" width="176" height="44">
            </span>
        </div>

        <div role="navigation" class="header-nav-items-container">
            <a class="header-menuitem">
                STACK
            </a>
            <a class="header-menuitem">
                EDUCATION
            </a>
            <a class="header-menuitem">
                PROJECTS
            </a>
            <a class="header-menuitem">
                WORK-EXP
            </a>
            <a class="header-menuitem">
                CONTACT
            </a>
        </div>

        <div class="header-other-actions">
            <div role="navigation" class="header-other-actions-menu">
                <a class="header-install-btn" href="../../../assets/RESUME.pdf" download="Sia-Resume.pdf">
                    <div class="header-install-btn-content">
                        Install My Resume </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="responsive-header">
    <div class="responsive-header-content">

    </div>
</div> -->