.header {
    display: none;
    background: #171d25;
    background-position: center top;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 0px 16px;
    // width: 100%; 
    // position: fixed;
    // z-index: 9999;

    .header-content {
        display: flex;
        align-items: center;
        background: #171d25;
        position: relative;
        width: 1000px;
        min-width: 0px;
        max-width: 1000px;
        height: 104px;
        margin: 0px auto;
        z-index: 402;
        justify-content: space-between;
    }

    .header-logo {
        float: left;
        margin-right: 40px;
        width: 176px;
        height: 44px;
    }

    .header-nav-items-container {
        display: flex;
        row-gap: 15px;
        flex-wrap: wrap;
        align-items: center;

        .header-menuitem {
            display: block;
            position: relative;
            padding-left: 7px;
            padding-right: 7px;
            line-height: 16px;
            float: left;
            color: #dcdedf;
            text-transform: uppercase;
            font-size: 16px;
            font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
            font-weight: 500;

            &::after {
                content: "";
                display: none;
                width: 100%;
                height: 2.5px;
                margin-top: 2px;
            }

            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }

        .resume {
            display: flex;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            border: 2px solid white;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 25px;
            margin-left: 5px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: 0.3s ease-in-out;

            .resume-icon {
                margin-left: 5px;
                color: #ffffff;
            }
        }

        @media (not (prefers-reduced-motion: reduce)) {
            .resume {
                width: 63px;

                .resume-icon {
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    width: calc(119px - 30px - 5px);
                    border-color: #66C0F4;
                }

                &:hover .resume-icon {
                    color: #ff0000;
                    opacity: 1;
                }
            }
        }
    }
}

.responsive-header {
    display: flex;
    background: #171d25;
    background-position: center top;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 0px 16px;
    position: fixed;
    z-index: 999;
    width: calc(100% - 32px);
    // overflow: hidden;

    .responsive-header-content {
        display: flex;
        align-items: center;
        background: #171d25;
        position: relative;
        height: 62px;
        margin: 0px auto;
        z-index: 402;
        justify-content: space-between;
        width: 100%;

        .responsive-header-logo {}

        .responsive-header-menu-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .responsive-header-menu-label {

                .responsive-header-menu-checkbox {
                    display: block;
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    top: 15px;
                    right: -3px;
                    z-index: 999;
                    opacity: 0;
                    cursor: pointer;

                    &:checked+.responsive-header-menu .responsive-header-menu-hamburger {
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
    
                        &::after {
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                            bottom: 0;
                            width: 100%;
                        }
    
                        &::before {
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                            top: 0;
                            width: 100%;
                        }
                    }

                    &:checked+.responsive-header-menu .responsive-header-menu-options-container {
                        left: -16px
                    }
                }

                .responsive-header-menu {
                    border-radius: 50% 50% 50% 50%;
                    -webkit-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
                    cursor: pointer;

                    .responsive-header-menu-options-container {
                        width: 100vw;
                        height: 100vh;
                        position: absolute;
                        top: 62px;
                        left: 3000px;
                        opacity: 0.5;
                        background: black;
                        transition: 0.5s ease-in-out;
                    }
                }

                .responsive-header-menu-hamburger {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 25px;
                    height: 2px;
                    background: #ffffff;
                    display: block;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    -webkit-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;

                    &::after, &::before {
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        content: "";
                        position: absolute;
                        display: block;
                        height: 100%;
                        background: #ffffff;
                        right: 0;
                    }

                    &::before {
                        width: 30px;
                        top: -10px;
                    }
        
                    &::after {
                        width: 20px;
                        bottom: -10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .header {
        display: none;
    }

    .responsive-header {
        display: flex;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0px);
    }
}