<div class="profile-workexp-container" #workexp inViewport [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)">
    <div class="profile-workexp-header-container ellipsis">
        <div class="profile-workexp-header-title">
            My Work-Exp
        </div>
    </div>
    <div class="profile-workexp-content-display">
        <!--Slider AutoPlay Configs: [autoPlay]="true" [autoPlayAtStart]="true" [autoPlayInterval]="5000" 
            [displayAutoPlayControls]="false" [autoPlayDirection]="'ltr'"-->
        <carousel [infinite]="false" [responsive]="true" [autoslideLimitPercentCard]="60" [slideToShow]="1"
            [slideToScroll]="1" [animationTimingMs]="400" [counter]="false" [animationTimingFn]="'ease-in-out'"
            [arrows]="false" [enableMouseDrag]="false" class="profile-workexp-content-carousel">
            @for(slide of workExpSlides; track slide; let idx = $index) {
            <div class="profile-workexp-content-carousel-slide carousel-slide" [id]="idx">
                <img [src]="slide.imgSrc" alt="{{slide.name}}" title="{{slide.name}}" />
                <div class="profile-workexp-content-carousel-slide-card-content">
                    {{slide.name}}
                </div>
            </div>
            }
        </carousel>
        <div class="profile-workexp-content-carousel-filter">
            @for(slide of workExpSlides; track slide) {
            <div class="carousel-filter-icon-container" (click)="slideTo(slide.bullet)">
                <img [src]="slide.imgSrc" height="50" width="50">
            </div>
            }
        </div>
    </div>
</div>