<div class="profile-workexp-container" #workexp inViewport [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)">
    <div class="profile-workexp-header-container ellipsis">
        <div class="profile-workexp-header-title">
            My Work-Exp
        </div>
    </div>
    <div class="profile-workexp-content-display">
        <acuw-carousel #carousel class="carousel">
            @for (item of workExpCarouselItems; track item;  let idx = $index) {
                <acuw-carousel-item class="carousel-item">
                    <h2>Item {{ idx+1 }}</h2>
                    <img [src]="item" height="300" />
                </acuw-carousel-item>
            }
        </acuw-carousel>
    </div>
</div>