.footer-container {
    width: 100%;
    background: rgba(0,0,0,.85);
    width: 1000px;
    min-width: 0px;
    max-width: 1000px;
    padding: 0 10px;
    display: flex;
    min-height: 300px;

    .footer-content {
        .footer-socials {

        }
    
        .footer-links {
    
        }
    
        .footer-copyright {
    
        }
    }

    .footer-logo {

    }
}