.profile-content-container {
    display: flex;
    align-items: flex-start;
    margin: auto;
    min-width: 0;
    max-width: 992px;
    min-height: 224px;
    width: 992px;
    flex-direction: row;
    z-index: 1;
    background: radial-gradient(farthest-side at top right, var(--gradient-right), transparent 500px),
        radial-gradient(farthest-corner at top left, var(--gradient-left), transparent 600px),
        radial-gradient(farthest-corner at bottom right, var(--gradient-background-right), transparent 500px),
        radial-gradient(farthest-corner at bottom left, var(--gradient-background-left), transparent 600px);
    background-color: var(--gradient-background);
    padding: 0px 15px 15px 15px;
    gap: 15px;

    .left-profile-content-container {
        order: 1;
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        max-width: 684px;
        min-width: 0px;

        .anime-profile-stacks,
        .anime-profile-workexp,
        .anime-profile-project,
        .anime-profile-edu {
            opacity: 1;

            @media (not (prefers-reduced-motion: reduce)) {
                opacity: 0;
            }
        }
    }

    .right-profile-content-container {
        order: 2;
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px);
        padding: 10px;
        border-radius: 3px;
        flex-basis: 30%;
        width: calc(100% - 20px);
        height: 100%;
        opacity: 1;

        @media (not (prefers-reduced-motion: reduce)) {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 910px) {
    .profile-content-container {
        flex-direction: column;

        .left-profile-content-container {
            flex-basis: auto;
        }

        .left-profile-content-container {
            order: 2;
            max-width: 100%;
        }

        .right-profile-content-container {
            order: 1;
            padding: 10px 10px 0px 10px !important;
        }
    }
}