.contact-modal-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 910px;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 7px;

    .contact-modal-inner-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 100%;
        width: 100%;

        .contact-modal-left {
            padding: 15px;
            width: calc(100% - 30px);
            flex-basis: 100%;
            backdrop-filter: blur(3px);

            .left-form {

                .form-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 8px;
                    flex-wrap: wrap;

                    .form-header-text {
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #ffffff;
                        text-shadow: 1px 2px 2px black;
                    }

                    .form-header-actions {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        color: #ffffff;

                        .actions-info,
                        .actions-more {
                            font-size: 24px;
                            transition: 0.3s ease-in-out;
                            filter: drop-shadow(1px 2px 2px black);

                            &:hover {}
                        }

                        .actions-info {}

                        .actions-more {}
                    }
                }

                .form-name,
                .form-email,
                .form-message {
                    margin-bottom: 15px;

                    input {
                        width: calc(100% - 40px);
                        height: 40px;
                        border-radius: 15px;
                        border: none;
                        padding: 0px 20px;
                        box-shadow: 1px 2px 2px black;

                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        width: calc(100% - 40px);
                        padding: 10px 20px;
                        border: none;
                        border-radius: 15px;
                        height: calc(200px - 20px);
                        overflow: hidden;
                        overflow-y: scroll;
                        resize: none;
                        text-align: justify;
                        font-family: sans-serif;
                        line-height: 1.4;
                        box-shadow: 1px 2px 2px black;

                        &:focus {
                            outline: none;
                        }
                    }

                    textarea::-webkit-scrollbar {
                        width: 0;
                    }

                    textarea:placeholder-shown {
                        text-overflow: ellipsis;
                    }

                    .error-message {
                        margin-left: 20px;
                        margin-top: 5px;
                        color: red;
                        filter: drop-shadow(1px 2px 2px black);
                        text-shadow: 1px 2px 2px black;
                    }
                }

                .form-name {
                    .form-name-input {}
                }

                .form-email {
                    .form-email-input {}
                }

                .form-message {
                    margin-bottom: 20px;

                    .form-message-input {}
                }

                .form-button {
                    .btnEmbark {
                        width: 100%;
                        border-radius: 7px;
                        font-family: sans-serif;
                        height: 100%;
                        padding: 10px;
                        background: rgba(255, 255, 255, 0.25);
                        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                        // backdrop-filter: blur(4px);
                        // -webkit-backdrop-filter: blur(4px);
                        border: 1px solid rgba(255, 255, 255, 0.18);
                        font-size: 18px;
                        text-shadow: 1px 2px 3px black;
                        color: white;
                        font-weight: 800;
                        letter-spacing: .5px;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background: rgb(102, 192, 244, 0.75);

                            span {
                                transform: translateY(-7px);
                            }
                        }
                    }
                }
            }
        }

        .contact-modal-right {
            flex-basis: 100%;

            .google-map-container {
                width: 100%;
                height: 100%;

                iframe {
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                }
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .contact-modal-container {
        width: 90%;
        margin: 0 auto;

        .contact-modal-inner-container {
            flex-direction: column !important;

            .contact-modal-right {
                .google-map-container {
                    .google-map {
                        border-bottom-left-radius: 7px;
                        border-top-right-radius: 0px !important;
                    }
                }
            }
        }
    }
}

/* For screens with a height of at least 701px */
@media screen and (min-height: 600px) and (max-height: 800px) {
    /* Adjusting the height of the textarea */
    .contact-modal-left .left-form .form-message textarea {
        height: 100px !important;
    }
}

/* For screens with a height up to 776px */
@media screen and (min-height: 777px) {
    /* Adjusting the height of the map container */
    .contact-modal-right .google-map-container {
        height: 300px !important;
    }
}

/* For screens with a height up to 701px */
@media screen and (max-height: 776px) {
    /* Adjusting the height of the map container */
    .contact-modal-right .google-map-container {
        height: 200px !important;
    }
}

/* For screens with a width of at least 911px and a height of at least 701px */
@media screen and (min-width: 911px) {
    .contact-modal-right .google-map-container {
        height: 100% !important;
    }

    .contact-modal-left .left-form .form-message textarea {
        height: 180px !important;
    }
}

@media screen and (max-width: 332px) and (max-height: 600px) {
    .contact-modal-right .google-map-container {
        height: 150px !important;
    }

    .contact-modal-left .left-form .form-message textarea {
        height: 50px !important;
    }
}