<div class="contact-modal-container">
  <div class="contact-modal-inner-container">
    <div class="contact-modal-left">
      <div class="left-form">
        <div class="form-header">
          <span class="form-header-text">Get in Touch</span>
          <div class="form-header-actions">
            <div
              class="actions-info"
              (click)="showInfoMessage()"
            >
              <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
            </div>
            <div
              class="actions-close"
              (click)="hideModal()"
            >
              <fa-icon [icon]="['fas', 'close']"></fa-icon>
            </div>
          </div>
        </div>
        <div class="form-name">
          <input
            type="text"
            class="form-name-input"
            id="name"
            [formControl]="contactName"
            autocomplete="off"
            placeholder="Your Name, a reminder of companionship amidst the icy expanse"
          />
          @if (contactName.hasError("required") && contactName.touched) {
            <div class="error-message">
              <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
              Name is Required!
            </div>
          }
          @if (contactName.hasError("invalidName") && contactName.touched) {
            <div class="error-message">
              <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
              Only Alphabets are Allowed!
            </div>
          }
        </div>
        <div class="form-email">
          <input
            type="email"
            class="form-email-input"
            id="email"
            autocomplete="off"
            [formControl]="contactEmail"
            placeholder="Your Email, like a beacon in the frozen wilderness"
          />
          @if (contactEmail.hasError("required") && contactEmail.touched) {
            <div class="error-message">
              <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
              Email is Required!
            </div>
          }
          @if (contactEmail.hasError("email") && contactEmail.touched) {
            <div class="error-message">
              <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
              Invalid Email Format!
            </div>
          }
        </div>
        <div class="form-message">
          <textarea
            class="form-message-textarea"
            autocomplete="off"
            [formControl]="contactMessage"
            [placeholder]="msgPlaceholder"
          ></textarea>
          @if (contactMessage.hasError("required") && contactMessage.touched) {
            <div class="error-message">
              <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
              Message is Required!
            </div>
          }
          @if (
            contactMessage.hasError("invalidChars") && contactMessage.touched
          ) {
            <div class="error-message">
              <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
              Invalid Characters Detected!
            </div>
          }
        </div>
        <div class="form-button">
          <button
            class="btnEmbark"
            (click)="sendMessage($event)"
            [disabled]="isDisable"
          >
            <span class="btnEmbark-text"> {{ buttonText }} </span>
          </button>
        </div>
      </div>
    </div>
    <div class="contact-modal-right">
      <div class="google-map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127494.16640708256!2d101.4406569!3d3.0429674999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc534c4ffe81cf%3A0xeb61f5772fd54514!2sKlang%2C%20Selangor!5e0!3m2!1sen!2smy!4v1714705985585!5m2!1sen!2smy"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="google-map"
        ></iframe>
      </div>
    </div>
  </div>
</div>
