<div class="profile-project-container" #proj scrollReached (scrollReached)="onIntersection()">
    <div class="profile-project-header-container ellipsis">
        <div class="profile-project-header-title">
            My Projects
        </div>
    </div>
    <div class="profile-project-content-display">
        <div class="profile-project-card-container">
            @for (proj of selectedProjects; track proj; let idx = $index) {
            <div class="profile-project-card">
                <img #projectCardBg class="project-card-bg" [src]="proj.bgSrc" [alt]="proj.name">
                <div class="project-card-content" #projectCardContent (mouseenter)="onMouseEnter(idx)" (mouseleave)="onMouseLeave(idx)">
                    <div class="project-card-name">
                        {{proj.name}}
                    </div>
                    <div class="project-card-stack">
                        @for(stack of proj.stacksLogo; track stack) {
                        <div class="project-card-stack-icon-container">
                            <img [src]="stack.link" [alt]="stack.name" class="project-card-stack-icon">
                        </div>
                        }
                    </div>
                    <div class="project-card-desc">
                        {{proj.desc}}
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>