<div class="profile-header-container">
    <div class="profile-pic-container">
        <div class="profile-pic-inner-container">
            <div class="profile-pic-frame-container">
                <img class="profile-pic-frame"
                    src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/2855140/e322e4d4fc9df256d9c9d5166a9e86aa6e47bd03.png">
            </div>
            <img class="profile-pic"
                src="https://media.licdn.com/dms/image/C5603AQHusMWqmwvQuQ/profile-displayphoto-shrink_200_200/0/1659324199634?e=1717632000&v=beta&t=6raELBLMRKDUn_0v8YbkgcXaSCzBVSi4xbcTzRgjSdA">
        </div>
    </div>
    <div class="profile-info-container">
        <div class="profile-info-name-container ellipsis">
            <span class="profile-info-name">Sia Chee Zhen</span>
        </div>
        <div class="profile-info-others-container ellipsis">
            <bdi>ウダイジン®</bdi> &nbsp; <img class="profile_flag"
                src="https://community.cloudflare.steamstatic.com/public/images/countryflags/my.gif"> Klang, Selangor
        </div>
        <div class="profile-info-summary-container">
            <span class="emphasis">Hello!</span> I'm a Full-Stack Developer located in Selangor, Malaysia. I'm currently pursuing a degree
            in Software Engineering and have a specialization in AI from Asia Pacific University. I have a
            strong passion for enhancing my coding skills, understanding various programming languages, and
            developing applications and websites. My expertise lies in building WebApps and websites using
            the MEAN Stack. I enjoy exploring new frameworks like React, Angular, NextJS, among others, and
            staying updated with emerging technologies such as ChatGPT and Stable Diffusion. Additionally, I
            find joy in creating engaging CSS components, training models, and exploring all aspects of
            coding.
        </div>
        <div class="profile-info-summary-footer"> <!--Need to Add Modal Later to show everything-->
            View More Info
        </div>
    </div>
    <div class="profile-badge-container">
        <div class="profile-badge-level-container ellipsis">
            Level
            <div class="profile-badge-level-number-container">
                <span class="profile-badge-level-number">
                    {{myAge}}
                </span>
            </div>
        </div>
        <div class="profile-social-container"> <!--Change to Socials Instead-->
            <div class="profile-social-inner-container">
                <div class="profile-social-linkedin-icon">

                </div>
                <div class="profile-social-github-icon">
                    
                </div>
                <div class="profile-social-facebook-icon">
                    
                </div>
                <div class="profile-social-instagram-icon">
                    
                </div>
            </div>
        </div>
    </div>
</div>