.profile-header-container {
    position: absolute;
    display: flex;
    margin: auto;
    width: 992px;
    min-height: 224px;
    background: radial-gradient(farthest-side at bottom right,
            var(--gradient-right),
            transparent 500px),
        radial-gradient(farthest-corner at bottom left,
            var(--gradient-left),
            transparent 600px);
    background-color: var(--gradient-background)
}