<div class="profile-header-container">
    <div class="profile-pic-container">
        <div class="profile-pic-inner-container">
            <div class="profile-pic-frame-container">
                <img class="profile-pic-frame"
                    src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/2855140/e322e4d4fc9df256d9c9d5166a9e86aa6e47bd03.png">
            </div>
            <img class="profile-pic"
                src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/2855140/18201b6931880d3bcb863fc3f5f5d0f3889f5c68.gif">
        </div>
    </div>
    <div class="profile-info">
        test
    </div>
    <div class="profile-badge">
        test
    </div>
</div>