<app-navigation></app-navigation>
<div class="profile-page">
  <div class="profile-animated-background">
    @if (currentTime == "work-time") {
      <video
        playsinline
        autoplay
        loop
        [muted]="'muted'"
        [poster]="profileBgPoster"
      >
        <source [src]="profileBgWebm" type="video/webm" />
        <source [src]="profileBgMp4" type="video/mp4" />
      </video>
    } @else {
      <video
        playsinline
        autoplay
        loop
        [muted]="'muted'"
        [poster]="profileBgOffPoster"
      >
        <source [src]="profileBgOffWebm" type="video/webm" />
        <source [src]="profileBgOffMp4" type="video/mp4" />
      </video>
    }
    <div class="background-tile"></div>
    <!--Debug: https://stackoverflow.com/questions/69427603/autoplay-on-video-is-not-working-after-refreshing-page-->
  </div>
  <app-profile-header
    class="flex-container profile-header"
  ></app-profile-header>
  <app-profile-content
    class="flex-container profile-content"
  ></app-profile-content>
  <app-footer
    class="flex-container profile-footer"
    scrollReached
    (scrollReached)="onFooterIntersection()"
  ></app-footer>
</div>

<div id="sakana-widget" class="sakana-widget"></div>

<div class="widget-container">
  <div class="backtotop-container" scrollToTop>
    <fa-icon [icon]="['fas', 'chevron-up']" class="widget-icon"></fa-icon>
  </div>
  @if (isProfileContentVisible) {
    <div class="background-widget-container" (click)="hideProfileContent()">
      <fa-icon [icon]="['fas', 'image']" class="widget-icon"></fa-icon>
    </div>
  } @else {
    <div class="background-widget-container" (click)="showProfileContent()">
      <fa-icon [icon]="['fas', 'images']" class="widget-icon"></fa-icon>
    </div>
  }
  <!-- @if (!isModalVisible) { -->
  <div class="contact-widget-container" (click)="openContactModal()">
    <fa-icon [icon]="['fas', 'phone']" class="widget-icon"></fa-icon>
  </div>
  <!-- } @else {
    <div class="contact-widget-container" (click)="closeContactModal()">
      <fa-icon [icon]="['fas', 'xmark']" class="widget-icon"></fa-icon>
    </div>
  } -->
  <nz-modal
    [(nzVisible)]="isModalVisible"
    [nzContent]="modalContent"
    [nzWidth]="910"
    [nzClosable]="false"
    [nzCentered]="true"
  >
    <ng-template #modalContent>
      <app-profile-contact></app-profile-contact>
    </ng-template>
  </nz-modal>
</div>
