.profile-page {
    background-size: 100%;
    background-image: none;
    background-color: #000000;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: auto; //Change it to Auto
    // padding-top: 104px;

    .profile-animated-background {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        >video {
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 1920px; //Check again.
        }

        .background-tile {
            background: url("../../assets/backup/bg-tile.png");
            height: 100%;
            mix-blend-mode: lighten;
        }
    }
}

.profile-footer {
    opacity: 1;

    @media (not (prefers-reduced-motion: reduce)) {
        opacity: 0;
    }

}

// @media(max-width: 1920px) {
//     .profile-page {
//         // background-size: auto;

//         .profile-animated-background>video {
//             width: 1920px;
//         }
//     }
// }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .profile-page {
        background-position: 49.999% 0;
    }
}

::ng-deep .ant-modal-body {
    padding: 0px !important;
}

#sakana-widget {
    position: fixed;
    bottom: 0px;
    left: 20px;
    z-index: 100;
}

::ng-deep .sakana-widget-ctrl {
    justify-content: center;
    width: max-content !important;
}

.widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 100;
    gap: 7px;

    .contact-widget-container, .backtotop-container, .background-widget-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50%;
        background: #171d25;
        height: 40px;
        width: 40px;
        filter: drop-shadow(1px 2px 3px black);
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        .widget-icon {
            filter: drop-shadow(1px 1px 1px black);
            color: white;
            transition: 0.3s ease-in-out;
        }

        @media (not (prefers-reduced-motion: reduce)) {
            &:hover .widget-icon {
                color: #EB4D26;
                animation: ring 3s .7s ease-in-out infinite;
                transform: scale(1.2);
            }
        }
    }

    .backtotop-container {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #sakana-widget {
        left: -20px !important;
    }
}