@import url('https://fonts.cdnfonts.com/css/motiva-sans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --font-family-primary: "Motiva Sans", Arial, Helvetica, sans-serif;
    --gradient-left: rgba(191, 175, 162, 1);
    --gradient-right: rgba(255, 107, 97, 1);
    --gradient-background: rgba(46, 49, 93, 0.6);
    --gradient-background-right: rgba(255, 107, 97, 1);
    --gradient-background-left: rgba(191, 175, 162, 1);
    --color-showcase-header: rgba(79, 150, 94, .4);
    --gradient-showcase-header-left: rgba(79, 150, 94, 1);
    --btn-background: rgba(0, 0, 0, .2);
    --btn-background-hover: rgb(255, 255, 255, .1);
    --btn-outline: rgb(255, 255, 255, .1);
}

html {
    height: 100%;
}

body {
    // background-color: #000000;
    // background-image: none;
    background-position: center top;
    // background-repeat: no-repeat;
    min-height: 100%;
    height: auto;
    position: relative;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    background: #000000;
    text-align: left;
    color: #8F98A0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    color: #ebebeb;
    text-decoration: none;
    cursor: pointer;
}

.header-menuitem-active {
    color: #1a9fff;

    &:hover {
        color: #1a9fff !important;
    }

    &::after {
        background: #1a9fff;
        border-radius: 3px;
        animation: slide 0.1s;
    }
}

@keyframes slide {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: #000000;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-corner {
    background: #202020;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4e5157;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

.flex-container {
    display: flex;
    justify-content: center;
}